<div class="container">
    <div class="card text-white bg-secondary">
        <img src="https://miro.medium.com/max/10550/1*E7mMLO7-84QFiz4yFTeP7w.jpeg" class="card-img-top" alt="books">
        <div class="card-body">
            <h5 class="card-title">¿Quienes somos?</h5>
            <p class="card-text">Fundada en 2016, <span>mangaStore</span> es hoy la tienda online de mangas líder en el sector. En 2018 inauguró su librería física y en 2019 inicia una fase de expansión ubicándose en las mejores zonas comerciales de las principales ciudades argentinas. En la actualidad cuenta con 6 librerías: en Córdoba, La Plata, Bahía Blanca, Mar del Plata y dos en Buenos Aires. Visitanos en nuestras redes para conocer más de nosotros!</p>
        </div>
    </div>
</div>
