<h2>Carrito de compras</h2>
<table class="table text-center">
    <thead>
        <th>Imagen</th>
        <th>Manga</th>
        <th>Prc/u</th>
        <th>Cantidad</th>
    </thead>
    <tbody>
        <tr *ngFor="let book of (cartList$ | async)" >
            <td> <img [src]="book.image" [alt]="book.name" width="100"> </td>
            <td> {{book.name}} vol. {{book.volume}} </td>
            <td> {{book.price}} </td>
            <td> {{book.quantity}} </td>
        </tr>
    </tbody>
</table>